@font-face {
    font-family: 'Grtsk Light';
    src: url('fonts/GrtskPeta-Light.eot');
    src: url('fonts/GrtskPeta-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/GrtskPeta-Light.woff2') format('woff2'),
        url('fonts/GrtskPeta-Light.woff') format('woff'),
        url('fonts/GrtskPeta-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grtsk Medium';
    src: url('fonts/GrtskPeta-Medium.eot');
    src: url('fonts/GrtskPeta-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/GrtskPeta-Medium.woff2') format('woff2'),
        url('fonts/GrtskPeta-Medium.woff') format('woff'),
        url('fonts/GrtskPeta-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grtsk';
    src: url('fonts/GrtskPeta-Regular.eot');
    src: url('fonts/GrtskPeta-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GrtskPeta-Regular.woff2') format('woff2'),
        url('fonts/GrtskPeta-Regular.woff') format('woff'),
        url('fonts/GrtskPeta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minion';
    src: url('fonts/MinionPro-BoldCapt.eot');
    src: url('fonts/MinionPro-BoldCapt.eot?#iefix') format('embedded-opentype'),
        url('fonts/MinionPro-BoldCapt.woff2') format('woff2'),
        url('fonts/MinionPro-BoldCapt.woff') format('woff'),
        url('fonts/MinionPro-BoldCapt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

