/*--------------------------------------------*/
/* menu button */
.menuBtn {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 1px;
  right: 0;
  cursor: pointer;
}
.menuBtn > span {
  background-color: #000;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -15px;
  transition: height 100ms;
}
.menuBtn > span:after, .menuBtn > span:before {
  content: "";
  background-color: #000;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  transition: all 200ms;
}
.menuBtn > span:after {
  top: -7px;
}
.menuBtn > span:before {
  bottom: -7px;
}

.menuBtn.mobile {
  z-index: 101;
  position: absolute;
  top: 30px;
  right: 30px;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menuBtn.mobile.act > span {
  height: 0;
}
.menuBtn.mobile.act > span:after, .menuBtn.mobile.act > span:before {
  top: 1px;
}
.menuBtn.mobile.act > span:after {
  transform: rotate(45deg);
}
.menuBtn.mobile.act > span:before {
  transform: rotate(-45deg);
}

.menuBtn.header.act > span {
  height: 0;
}
.menuBtn.header.act > span:after, .menuBtn.header.act > span:before {
  top: 1px;
}
.menuBtn.header.act > span:after {
  transform: rotate(45deg);
}
.menuBtn.header.act > span:before {
  transform: rotate(-45deg);
}

/* main menu block */
.menu-mobile {
  overflow: hidden;
  position: relative;
}
.menu-mobile .mainMenu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(0);
  background: #fff;
}
.menu-mobile .mainMenu .menu-menu-principal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}
.menu-mobile .mainMenu ul.menu li {
  margin: 0 0 10px 0;
  padding: 10px 0 5px 5px;
}
.menu-mobile .mainMenu a {
  color: #333;
  padding: 2.25vh 0;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.menu-mobile .mainMenu a.suBtn {
  color: #fff;
}
.menu-mobile .mainMenu.act {
  opacity: 1;
  transform: scale(1);
  position: fixed;
  left: 0;
  padding: 5%;
}
.menu-mobile .mainMenu.act ul.menu {
  display: block;
  flex-direction: column;
}
.menu-mobile .mainMenu.act ul.menu li {
  margin-bottom: 0;
  opacity: 1;
  transform: translateX(0);
}
.menu-mobile .mainMenu.act ul.menu li a {
  padding: 10px 0;
  font-size: 18px;
}
.menu-mobile .mainMenu ul#menu-menu-1 {
  vertical-align: middle;
  list-style-type: none;
  max-width: 80%;
  margin: 12vh 0 0 10%;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75vh;
}
.menu-mobile .mainMenu li {
  padding: 0;
  transition: all 400ms 510ms;
  opacity: 0;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.menu-mobile .mainMenu li:nth-child(odd) {
  transform: translateX(30%);
}
.menu-mobile .mainMenu li:nth-child(even) {
  transform: translateX(-30%);
}
.menu-mobile .mainMenu li:last-child {
  transform: none;
}/*# sourceMappingURL=menu-mobile.css.map */